<table mat-table [dataSource]="dataSource" class="overview-table">
  <ng-container matColumnDef="Account Name">
    <th mat-header-cell *matHeaderCellDef> Account Name </th>
    <td mat-cell *matCellDef="let account"> {{account.name}} </td>
  </ng-container>

  <ng-container matColumnDef="Amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let account"> {{account.amount}} </td>
  </ng-container>

  <ng-container matColumnDef="Currency">
    <th mat-header-cell *matHeaderCellDef> Currency </th>
    <td mat-cell *matCellDef="let account"> {{account.currency}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
